@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Gotham/GOTHAM-LIGHT.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Gotham/GOTHAM-MEDIUM.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Gotham/GOTHAM-BOLD.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/GOTHAM-ULTRA.ttf") format("truetype");
}