page-halkosong {
    .fill {
        text-align: center;
        padding: 100px 50px;
        color: #1f235b;
    }
    ion-icon.icon.icon-md.ion-md-close-circle {
        font-size: 70px;
    }
    h4 {
        font-size: 2rem;
    }
}
